<app-header></app-header>
<div class="container mx-auto px-4">
  <div><h3>1. Tax Filling Detail</h3></div>
  <hr />

  <app-filing-type></app-filing-type>
  <div class="flex gap-4 items-end">
    <app-month></app-month>
    <app-year></app-year>
  </div>
  <div><h3>2. Tax Computation</h3></div>
  <hr />
  <div><h6>Provide total value taxable electronic service  *</h6></div>
  <app-sale-amount></app-sale-amount>
  <app-tax-amount></app-tax-amount>
  <div><h6>In case of filling and payment,or additional filling</h6></div>
  <app-surcharge></app-surcharge>
  <app-penalty></app-penalty>
  <app-total-amount></app-total-amount>

</div>

<div class="mx-auto mt-4 flex justify-end gap-3" style="max-width: 900px;">
  <button
    id="backBtn"
    class="bg-white text-black font-bold py-2 px-4 rounded"
    onclick="handleBack()"
  >
    Back
  </button>
  <button
    id="submitBtn"
    class="bg-black text-white font-bold py-2 px-4 rounded"
    onclick="handleSubmit()"
  >
    Next
  </button>
</div>