@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}


.container {
  border: #333 solid 1px;
    max-width: 800px;
    margin: 50px auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    font-family: 'Prompt', sans-serif;

}


