
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffffff;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    <div class="text-end" style="  font-family: 'Prompt', 'Sarabun', 'Tahoma', sans-serif;">
      <div class="text-black" style="border: #000;">Time in Thailand {{ currentDate | thDate }}</div>
    </div>
  </div>
</nav>
<hr>
  <h1 class="text-3xl font-bold text-center mb-8" style="text-align: center; margin-top: 25px;">Submit Tax Filing</h1>



