<div class="mb-8">
  <label class="block text-sm font-medium mb-3 mt-4">
    Tax Month<span style="color: red;">*</span>
  </label>
  <div class="flex gap-4">
    <select
      id="month"
      class="form-select form-select-md mb-3"
      style="width: 160px"
      [(ngModel)]="selectedMonth"
      (change)="onMonthChange()"
    >
      <option [value]="null">Select Month</option>
      <ng-container *ngFor="let month of months; let i = index">
        <option *ngIf="i + 1 <= currentMonth" [value]="i+1">
          {{ month }}
        </option>
      </ng-container>
    </select>
  </div>
</div>
