                    <div id="surchargeContainer" class="mb-4">
                        <label class="block text-sm mb-2">3. Surcharge</label>
                        <div class="relative">
                            <input
                                type="text"
                                id="surcharge"
                                readonly
                                class="border rounded px-4 py-2 w-full text-right bg-gray-50 pr-16"
                            />
                            <span class="absolute right-4 top-2 text-gray-400">THB</span>
                        </div>
                    </div>