.form-check-input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #000;     
  accent-color: #000;
}

.form-check-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.form-check-label i {
  font-size: 14px;
  margin-left: 4px;
  color: #888;
}

.form-check-label i:hover {
  color: #000;
}

.filing-group {
  display: flex;
  align-items: center;
  gap: 40px; 
}
